<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">
    <div th:replace="fragments/alert"></div>
    <div align="center">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{agency.name}"></th>

                <th th:text="#{package.destination}"></th>
                <th th:text="#{package.duration}"></th>
                <th th:text="#{package.price}"></th>
                <th th:text="#{package.departure}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="compra : ${compras}">
                <td th:text="${compra.pacote.id}"></td>
                <td th:text="${compra.pacote.agencia.nome}"></td>
                <td th:text="${compra.pacote.destino}"></td>
                <td th:text="${compra.pacote.duracao}"></td>
                <td th:text="${compra.pacote.valor}"></td>
                <td th:text="${compra.pacote.partida}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/modal :: modal"></div>
</section>
</body>
</html>
